body{
    background-color: #1A1A1D;
    color: whitesmoke;
}

h1{
    color: rgb(179, 47, 47);

}

h3{
    color: rgb(179, 47, 47);
}
hr{
    border-color: rgb(187, 183, 183);
    background-color:black;
    border-style: none;
    border-top-style: dotted;
    height: 0px;
    width: 5%;
    border-width: 3px;
    
}

a{
    color: rgb(207, 158, 154);
}

